.wrapper-main {
    border: dotted blue 2px;
}

body{
    /* Serebii.net bgc */
    background-color: #383838;
}
.header-banner{
    /* Serebii.net hero bgc */
    background-color: #507c36;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.banner-sprite{
    width: 100px;
    /* padding-bottom: -15px; */
}

.header-banner h3{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0;
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0;
    margin: 0;
}
nav li {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
nav a {
    margin-top: px;
    text-decoration: none;
    color: rgb(0, 0, 165);

    line-height: 1.5;
}
nav a:visited {
    color: rgb(0, 0, 165);
}
nav a:hover {
    color: greenyellow;
}
#search-box {
    width: 100px;
}

main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-bottom: 15px;
    padding-top: 15px;

    flex-wrap: wrap;
}
.dropdown-menus select{
    width: 120px;
    margin-top: 5px;
}

.icon-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon:hover img{
    /* width: 50px; */
    background-color: white;
}

/* # $ # $ pokedex entry STYLE # $ # $ */
#sprite {
    padding-top: 20px; 
    /* NOTE for later, use calc() to make every sprite fit a perfect square */
}

@media (min-width: 800px) {
    .header-banner{
        padding-bottom: 0;
        max-width: 1000px;
    }

    nav ul {
        /* justify-content: center; */
        flex-direction: row;

    }
    nav li {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    .wrapper-main {
        max-width: 800px;
    }
}